<%- include('./adminPageHeader.ejs') %>
<link rel="stylesheet" href="/css/admin/manageProducts.css" />
<div class="container">
	<h1>Product Management</h1>
	<!-- homepage slider control -->
	<div id="homepage_picture_form">
		<h2>Landing Page slides Control</h2>
		<div id="homepage_slide_form">
			<form
				action="/admin/add_homepage_picture"
				method="POST"
				enctype="multipart/form-data"
			>
				<% if (slides && (slides.length > 0)) { %>
					<ul>
					<% slides.forEach(slide => { %>
						<li>
							<button type="button" class="deleteSlideBtn" data-slide="<%= slide %>">
								<img class="red-cross" src="https://img.icons8.com/emoji/32/cross-mark-button-emoji.png" alt="delete-image"/>
							</button>
							<img class="slides" src="<%= slide %>" alt="slide">
						</li>
					<% }) %> 
					</ul>
				<% } %>
				<input
					type="file"
					name="slideImageUpdate"
					multiple
					accept="image/*"
					style="font-size: 12px;"
				/>
				<button type="submit" class="add-slide-button save-btn">Update Slide</button>
			</form>
		</div>
		<div class="BtnDiv">
			<button id="newProdBtn" onclick="displaySlideForm()">Toggle Form</button>
		</div>
	</div>
	<!-- New product form -->
	<div id="addNewProd">
		<h2>Add New Product</h2>
		<div id="new_prod_form">
			<form
				action="/admin/add-product"
				method="POST"
				enctype="multipart/form-data"
			>
				<label for="productName">Product Name: </label><br />
				<input
					type="text"
					id="name"
					name="productName"
					placeholder="Product Name"
					required
				/><br />

				<label for="productPrice">Product Price: </label><br />
				<input
					type="number"
					id="price"
					name="productPrice"
					placeholder="Price"
					required
				/><br />

				<label for="productVarient">Product Varient: </label><br />
				<input
					type="text"
					id="varient"
					name="productVarient"
					placeholder="Varient"
				/><br />

				<label for="productDescription">Product Description: </label><br />
				<input
					type="text"
					id="description"
					name="productDescription"
					placeholder="Description"
				/><br />

				<label for="productCategory">Product Category:</label><br />
				<select id="category" name="productCategory" required>
					<option value="giftcards" selected>Gift Cards</option>
					<option value="iphones">iPhones</option>
					<option value="accessories">Accessories</option></select
				><br />

				<label for="productStock">Product Stock: </label><br />
				<input
					type="number"
					id="stock"
					name="productStock"
					placeholder="Stock"
					value="0"
				/><br />

				<label for="productSaveTag">Discount: </label><br />
				<input
					type="number"
					id="saveTag"
					name="productSaveTag"
					placeholder="Save Tag"
					value="0"
				/><br />
				<label for="productWarranty">Warranty: </label><br />
				<input
					type="text"
					id="productWarranty"
					name="productWarranty"
					placeholder="Warranty information"
				/><br />
				<label for="productPoints">Possible Points: </label><br />
				<input
					type="number"
					id="productPoints"
					name="productPoints"
					placeholder="Ex: 50"
					value="0"
				/><br />

				<label for="productImageArray">Product Images: </label><br />
				<input
					type="file"
					id="image"
					name="productImageArray"
					multiple
					accept="image/*"
    				style="font-size: 12px;"
				/>

				<button class="save-btn" type="submit">Add Product</button>
			</form>
		</div>
		<div class="BtnDiv">
			<button id="newProdBtn" onclick="displayForm()">Toggle Form</button>
		</div>
	</div>
	<!-- Product List Section -->
	<div id="ProdList">
		<div class="product-container">
			<% products.forEach(product => { %>
			<div class="product">
				<h3><%= product.name %></h3>
				<div class="editing-form">
					<div class="input-div">
						<label>Price:</label>
						<input
							type="number"
							class="price-input"
							id="price-<%= product._id %>"
							value="<%= product.price %>"
						/>
					</div>
					<div class="input-div">
						<label>Stock:</label>
						<input
							type="number"
							class="stock-input"
							id="stock-<%= product._id %>"
							value="<%= product.stock %>"
						/>
					</div>
					<div class="input-div">
						<label>Discount:</label>
						<input
							type="number"
							class="discount-input"
							id="discount-<%= product._id %>"
							value="<%= product.saveTag %>"
						/>
					</div>
					<div class="input-div">
						<label>Points:</label>
						<input
							type="number"
							class="points-input"
							id="points-<%= product._id %>"
							value="<%= product.pointsPossible %>"
						/>
					</div>
				</div>
				<div class="btnActions">
					<button class="save-btn" onclick="updateStock('<%= product._id %>')">
						Save
					</button>
					<button
						class="delete-btn"
						onclick="deleteProduct('<%= product._id %>')"
					>
						Delete
					</button> 
				</div>
				<!-- manage product images -->
				<div id="Product_Image_form">
					<form
						action="/admin/product/add-product-image"
						method="POST"
						enctype="multipart/form-data"
					>
						<div class="product-image-list">
						<ul>
							<input type="hidden" name="productCategory" value="<%= product.category %>">
							<input type="hidden" name="productId" value="<%= product._id %>">
							<input type="hidden" name="productName" value="<%= product.name %>">
							<% product.image.forEach((image)=>{ %>
								<li>
									<button type="button" class="deleteImgBtn" data-image="<%= image %>">
									  <img class="red-cross" src="https://img.icons8.com/emoji/32/cross-mark-button-emoji.png" alt="delete-image"/>
									</button>
									<img class="prod-Image" width="80px" height="100%" src="<%= image %>" alt="product-image"/>
								</li>								  
							<% }) %>
						</ul>
						</div>
						<input
								type="file"
								name="productImageUpdate"
								multiple
								accept="image/*"
								style="font-size: 12px;"
							/>
						<button type="submit" class="add-image-button">Add image</button>
					</form>
				</div>
			</div>
			<% }) %>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		// delete homepage slide
		const slideDeleteButtons = document.querySelectorAll(".deleteSlideBtn");
		slideDeleteButtons.forEach(btn =>{
			btn.addEventListener("click", (event)=> {
				event.preventDefault();
				const slideUrl = btn.getAttribute("data-slide");
				try {
					fetch("/admin/delete_homepage_picture", {
						method: "DELETE",
						headers: {
							"Content-Type": "application/json"
						},
						body: JSON.stringify({ slideUrl })
					})
					.then(response => {
						if (response.ok) {
							window.location.reload();
						}
					})
					.catch(err => {
						window.alert("Failed to add product:");
					});
				} catch (err) {
					console.error("Error occurred while deleting slide image:", err);
				}
			})
		})
		// new product
		const form = document.querySelector("#new_prod_form form");
		form.addEventListener("submit", (event) => {
			event.preventDefault();
			const formData = new FormData(form);
			try {
				fetch(form.action, {
					method: form.method,
					body: formData,
				})
				.then(response => {
					if (response.ok) {
						window.location.reload();
					}
				})
				.catch(err => {
					window.alert("Failed to add product:");
				});
			} catch (err) {
				console.error("Error occurred while adding product:");
			}
		});
		// delete image
		const deleteButtons = document.querySelectorAll(".deleteImgBtn");
		deleteButtons.forEach((btn) => {
			btn.addEventListener("click", async (event) => {
				event.preventDefault();
				const imageUrl = btn.getAttribute("data-image");
				const productId = btn.closest("form").querySelector("input[name='productId']").value;
				try {
				const response = await fetch("/admin/product/delete-product-image", {
					method: "DELETE",
					headers: {
					"Content-Type": "application/json"
					},
					body: JSON.stringify({ productId, imageUrl })
				});
				if (response.ok) {
					window.location.reload();
				} else {
					window.alert("Failed to delete the image.");
				}
				} catch (err) {
					console.error("Error occurred while deleting product image:", err);
				}
			});
		});
	});

	function updateStock(productId) {
		const stockValue = document.getElementById(`stock-${productId}`).value;
		const priceValue = document.getElementById(`price-${productId}`).value;
		const discountValue = document.getElementById(
			`discount-${productId}`
		).value;
		const pointsValue = document.getElementById(`points-${productId}`).value;
		fetch(`/admin/update/${productId}`, {
			method: "PUT",
			headers: { "Content-Type": "application/json" },
			body: JSON.stringify({
				stock: stockValue,
				price: priceValue,
				saveTag: discountValue,
				pointsPossible: pointsValue,
			}),
		})
			.then((response) => {
				if (response.ok) {
					window.location.reload();
				} else {
					alert("Error updating stock");
				}
			})
			.catch((error) => console.error("Error:", error));
	}

	function deleteProduct(productId) {
		if (!confirm("Are you sure you want to delete this product?")) return;
		fetch(`/admin/${productId}`, {
			method: "DELETE",
			headers: { "Content-Type": "application/json" },
		})
			.then((response) => {
				if (response.ok) {
					window.location.reload();
				} else {
					alert("Error deleting product");
				}
			})
			.catch((error) => console.error("Error:", error));
	}

	function displayForm() {
		const new_prod_form = document.getElementById("new_prod_form");
		new_prod_form.classList.toggle("active");
	}
	function displaySlideForm() {
		const homepage_slide_form = document.getElementById("homepage_slide_form");
		homepage_slide_form.classList.toggle("active");
	}
</script>
