<a href="/product/<%= product._id %>">
    <div class="product-card slide-in <%= product.stock === 0 ? 'out-of-stock' : '' %>" data-id="<%= product._id %>">
        <img class="main-image"
             src="<%= (product.image && product.image.length && product.image[0]) ? product.image[0] : '/images/placeholder.webp' %>"
             alt="<%= product.name %>" />
        
        <h3 class="product-name"><%= product.name %></h3>
        <% if (product.stock === 0) { %>
            <p class="product-price">Out Of Stock</p>
        <% } else { %>
            <p class="product-price"><%= product.price.toFixed(2).toLocaleString() %> BDT</p>
        <% } %>
    </div>
</a>
