<div class="product-info" data-price="<%= product.price %>">
    <h2 id="product-name"><%= product.name %></h2>
    <div id="configs">
        <p>Status: <% if (product.stock > 0){ %>
            <span class="in-stock">In Stock</span>
            <% } else { %>
            <span class="out-of-stock">Out Of Stock</span>
            <% } %>
        </p>

        <% if (product.varient == "usd"){ %>
            <%- include('./giftcardVarients/usd.ejs') %>
        <% } else if (product.varient == "inr") { %>
            <%- include('./giftcardVarients/inr.ejs') %>
        <% } else if (product.varient == "aud") { %>
            <%- include('./giftcardVarients/aud.ejs') %>
        <% } %>

        <p id="selected-price">Total Amount: <span id="total-price">0.00 BDT</span></p>
        <div>
            <button class="add-to-cart">🧺 ADD TO CART</button>
            <button class="buy-now add-to-cart">🛒 Buy Now</button>
        </div>
       
    </div>
</div>
