<div class="product-info" data-price="<%= product.price %>">
    <h2 id="product-name"><%= product.name %></h2>
    <p>Product ID: <%- product.productId %></p>
    <div id="configs">
        <p>Status: <% if (product.stock > 0){ %>
            <span class="in-stock">In Stock</span>
            <% } else { %>
            <span class="out-of-stock">Out Of Stock</span>
            <% } %>
        </p>

        <% if (product.varient == "usd"){ %>
            <%- include('./giftcardVarients/usd.ejs') %>
        <% } else if (product.varient == "inr") { %>
            <%- include('./giftcardVarients/inr.ejs') %>
        <% } else if (product.varient == "aud") { %>
            <%- include('./giftcardVarients/aud.ejs') %>
        <% } %>

        <p id="selected-price">Total Amount: <span id="total-price">0.00</span> BDT</p>
        <div class="actions">
            <% if (product.stock > 0) { %>
                <button class="add-to-cart" data-id="<%= product._id %>">ADD TO CART</button>
                <button class="buy-now add-to-cart" data-id="<%= product._id %>">Buy Now</button>
            <% } else { %>
                <button class="empty-stock">ADD TO CART</button>
                <button class="empty-stock">Buy Now</button>
            <% } %>
        </div>
       
    </div>
</div>
