<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= page_title %></title>
		<link rel="icon" type="image/x-icon" href="/ui/icons/favicon.ico" />
		<link rel="stylesheet" href="/css/header.css" />
	</head>
	<body>
  <!-- Nav Bar -->
  <header id="Header">
    <!-- Left -->
    <a href="/" class="logo">
      <img
        src="https://img.icons8.com/nolan/96/online-shop-shopping-bag.png"
        alt="logo"
      />
      <P>TISDIF-E-CARD</P>
    </a>

    <!-- Center -->
    <nav class="navbar" id="navbar">
      <li><a href="/">iPhones</a></li>
      <li><a href="/">GiftCards</a></li>
      <li><a href="/">Accessories</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="/account">My Orders</a></li>
    </nav>

    <!-- Right -->
    <div class="account-container">
      <!-- Search button -->
      <button class="searchBtn">
        <img
          src="https://img.icons8.com/ios-glyphs/60/search--v1.png"
          alt="Search"
        />
      </button>
      <!-- Cart icon -->
      <a href="/cart" class="cart-icon">
        <img
          src="https://img.icons8.com/fluency-systems-regular/48/shopping-cart--v1.png"
          alt="shopping-cart"
        />
        <% if (cartItems.length > 0) { %>
        <span class="cart-badge"><%= cartItems.length %></span>
        <% } else { %>
        <span class="cart-badge">0</span>
        <% } %>
      </a>

      <!-- Profile Icon -->
      <div
        class="profile-container"
        onmouseover="toggleMenu(true)"
        onmouseleave="toggleMenu(false)"
        id="profileLink"
      >
        <a href="/account" class="profile-icon" id="profile">
          <img
            src="https://img.icons8.com/fluency-systems-regular/48/guest-male.png"
            alt="Account"
          />
        </a>
        <!-- User Profile Dropdown -->
        <div class="menu-dropdown" id="menuDropdown">
          <% if (Object.keys(loggedInUser).length > 0) { %>
          <div id="user-info">
            <p>Username: <%= loggedInUser.username %></p>
            <p>Email: <%= loggedInUser.email %></p>
            <a href="/account">My Account</a>
            <% if (loggedInUser.role == "admin") { %>
            <a href="/admin">Manage Products</a>
            <a href="/admin/users">Manage Users</a>
            <% } %>
          </div>
          <button id="logout-button" onclick="logout()">Logout</button>
          <% } else { %>
          <button id="login-button" onclick="window.location.href='/login'">
            Login
          </button>
          <% } %>
        </div>
      </div>
    </div>

    <!-- Hamburger Menu -->
    <div id="search-div">
      <!-- Search bar -->
      <button class="searchBtn">
        <img
          src="https://img.icons8.com/ios-glyphs/60/search--v1.png"
          alt="Search"
        />
      </button>

      <div class="hamburger" id="hamburger" aria-label="Menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </header>
  <!-- Search bar -->
  <div class="searchBar" id="searchBar">
    <form action="/search" method="GET">
      <input
        name="searchQuery"
        type="text"
        spellcheck="false"
        placeholder="Search Products"
        required
      />
    </form>
  </div>
  <!-- Mobile Container (only visible on mobile) -->
  <div class="mobile-container">
    <!-- Home icon -->
    <a href="/" class="mobile-home-icon">
      <img
        src="https://img.icons8.com/material-outlined/32/home--v2.png"
        alt="home"
      />
    </a>

    <!-- Cart icon -->
    <a href="/cart" class="mobile-cart-icon">
      <img
        src="https://img.icons8.com/fluency-systems-regular/48/shopping-cart--v1.png"
        alt="shopping-cart"
      />
      <% if (cartItems.length > 0) { %>
      <span class="mobile-cart-badge"><%= cartItems.length %></span>
      <% } else { %>
      <span class="mobile-cart-badge">0</span>
      <% } %>
    </a>

    <!-- Profile Icon -->
    <div class="mobile-profile-container">
      <a href="/account" class="mobile-profile-icon">
        <img
          src="https://img.icons8.com/fluency-systems-regular/48/guest-male.png"
          alt="Account"
        />
      </a>
    </div>
  </div>
  <script src="/scripts/header.js" defer></script>
