<div class="product-info" data-price="<%= product.price %>">
    <h2 id="product-name"><%= product.name %></h2>
    <div id="configs">
        <p class="product-price-container">Price: 
            <% if (product.saveTag > 0) { %>
              <span class="old-product-price"><%= (product.price + (product.price * (product.saveTag / 100))).toFixed(2) %>৳</span>
              <span class="new-price">
                <%= product.price %>৳
              </span>
              <span class="discount-label"><%= product.saveTag %>% OFF</span>
            <% } else { %>
              <span class="new-price"><%= product.price %>৳</span>
            <% } %>
        </p>
        <p>Status: 
            <% if (product.stock > 0){ %>
                <span class="in-stock">In Stock</span>
            <% } else { %>
                <span class="out-of-stock">Out Of Stock</span>
            <% } %>
        </p>

        <!-- Quantity selector for accessories -->
        <div class="quantity-selector">
            <button class="qty-btn decrease">-</button>
            <span class="quantity-value">1</span>
            <button class="qty-btn increase">+</button>
        </div>

        <p id="selected-price">Total Price: <span id="total-price">0.00</span> BDT</p>
    </div>
</div>
