<a href="/product/<%= product.slug %>">
	<div
		class="product-card <%= product.stock === 0 ? 'out-of-stock' : '' %>"
		data-id="<%= product._id %>"
	>
		<% if ((product.stock > 0) && (product.saveTag > 0)) { %>
		<div class="ribbon-div">
			<div class="ribbon"><%= product.saveTag %>% off</div>
		</div>
		<% } %>
		<img
			class="main-image"
			src="<%= (product.image && product.image.length && product.image[0]) ? product.image[0] : '/images/placeholder.webp' %>"
			alt="<%= product.name %>"
		/>
		<div class="product-info-div">
			<h3 class="product-name"><%= product.name %></h3>
			<p class="price-container">
				<% if (product.stock === 0) { %>
				<span class="product-price">Out Of Stock</span>
				<% } else { %> <% if (product.saveTag > 0) { %>
				<span class="product-price">
					<%= product.price.toFixed(2).toLocaleString() %>৳
				</span>
				<span class="old-price">
					<%= (product.price + (product.price * (product.saveTag /
					100))).toFixed(2) %>৳
				</span>
				<% } else { %>
				<span class="product-price">
					<%= product.price.toFixed(2).toLocaleString() %>৳
				</span>
				<% } %> <% } %>
			</p>
		</div>
	</div>
</a>
