<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
<div class="breadcrumb">
    <ul>
      <li><a href="/"><img src="https://img.icons8.com/material/24/home--v5.png" alt="home"/></a></li>
      <li><a href="/cart">Cart</a></li>
    </ul>
</div>
<div class="cart-container">
    <!-- <h2 class="cart-title">My Cart</h2> -->
        <% if (cartItems.length === 0) { %>
        <div class="empty-cart">
            <div class="cart-icon-wrapper">
                <img src="/images/homepage/empty_cart.png" alt="Empty Cart Image">
            </div>
            <h2>Cart Empty!</h2>
            <p>Your cart is starving—feed it something delicious! 🍕🛍️</p>
        </div>          
            <% } else { %>
            <% let grand_total = 0; %>
            <div class="cart-wrapper">
            <% cartItems.forEach(item => { %>
            <div class="cart-card">
                <div class="thumbnail-image">
                    <img src="<%= (item.productId.image && item.productId.image.length && item.productId.image[0]) ? item.productId.image[0] : '/images/placeholder.webp' %>"
                    alt="<%= item.productId.name %>" />
                </div>
                <div class="card-info">
                    <div class="name">
                        <%= item.productId.name %>
                    </div>
                    <div class="price">
                        Unit Price: <%= item.productId.price %> BDT
                    </div>
                    <div class="quantity">
                        Quantity: <%= item.selected_quantity %>
                    </div>
                    <div class="total">
                        Total: <strong><%= item.productId.price * item.selected_quantity %> BDT</strong>
                    </div>
                </div>
                <div >
                    <form action="/cart/<%= item._id %>/delete" method="POST">
                        <button class="delete-btn" type="submit">
                            <img src="https://img.icons8.com/material-rounded/48/delete.png" alt="Delete">
                        </button>
                    </form>                              
                </div>
                <% grand_total += item.productId.price * item.selected_quantity; %>
            </div>
            <% }); %>
        </div>
    <div class="cart-total-section">
        <p class="cart-total-text">Total: <strong><%= grand_total %> BDT</strong></p>
        <a href="/checkout" class="cart-checkout-btn">Proceed to Checkout</a>    
    </div>
    <% } %>
</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>