<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/checkout.css" />
<link rel="stylesheet" href="/css/progressStepper.css">

<div class="stepper_wrapper">
    <div class="stepper">
        <!-- Step 1 -->
        <div class="step done">
        <div class="circle">1</div>
        <div class="label">Order Cart</div>
        </div>

        <div class="line"></div>

        <!-- Step 2 -->
        <div class="step active">
        <div class="circle">2</div>
        <div class="label">Checkout</div>
        </div>

        <div class="line"></div>

        <!-- Step 3 -->
        <div class="step future">
        <div class="circle">3</div>
        <div class="label">Confirmation</div>
        </div>
    </div>
</div>

<form id="checkout-form" action="/order/checkout" method="POST" enctype="multipart/form-data">
	<div class="container">
		<h2 class="checkout-heading">Checkout</h2>
		<div class="container-wrapper">
			<!-- Left Column -->
			<div class="left-container">
				<h3 class="left-h3">SHIPPING DETAILS</h3>
				<div class="personal-info">
					<div class="form-group">
						<label for="order_fullName">Full Name</label>
						<input
							type="text"
							name="order_fullName"
							placeholder=" Name: "
							spellcheck="false"
							id="fullName"
							required
							<% if(user !== undefined){ %>
								value="<%= user.username %>"
							<% } %>
						/>
					</div>
					<div class="form-group">
						<label for="order_mobile">Mobile Number</label>
						<input
							type="text"
							name="order_mobile"
							spellcheck="false"
							placeholder="delivery phone: "
							id="mobile"
							required
							<% if(user !== undefined){ %>
							value="<%= user.mobile %>"
							<% } %>
						/>
					</div>
					<div class="form-group">
						<label for="order_email">Email Address</label>
						<input
							type="email"
							name="order_email"
							spellcheck="false"
							placeholder="delivery email: "
							id="email"
							required
							<% if(user !== undefined){ %>
							value="<%= user.email %>"
							<% } %>
						/>
					</div>
					<div class="form-group">
						<label for="order_address">Delivery Address</label>
						<input
							type="text"
							name="order_address"
							id="address"
							spellcheck="false"
							value="<%= user.address[0] %>"
							required
						/>
					</div>
				</div>
				<div class="left-bottom">
					<h3 class="left-h3">PAYMENT DETAILS</h3>

					<div class="checkout_notice">
						<p>To confirm orders, outside Dhaka: send money 140Tk and send Transaction ID & Last 4 digit.</p>
						<p>Inside Dhaka: send money 80Tk  and send Transaction ID & Last 4 digit.</p>
						<p>please make full payment for giftcard orders</p>
					</div>
					
					<div class="payment-div">
						<label>Select A Payment Method</label>
						<div class="payment_process">
							<!-- Online Payment Option -->
							<div class="options">
								<label for="online_payment">
										<img src="/images/icons/online_payment.png" alt="online payment">
									<input type="radio" id="online_payment" name="payment_method" value="online payment" required>
									<span>Online Payment</span>
								</label>
							</div>
							<!-- Cash on Delivery Option -->
							<div class="options">
								<label for="cash_on_delivery">
										<img src="/images/icons/cash_on_delivery.png" alt="cash on delivery">
									<input type="radio" id="cash_on_delivery" name="payment_method" value="cash on delivery" required>
									<span>Cash on Delivery</span>
								</label>
							</div>
						</div>
						<!-- banks -->
						<div class="payment_process">
							<div class="options">
								<label for="bkash">
										<img src="/images/icons/bkash.png" alt="bkash">
									<input type="radio" id="bkash" name="billing_method" value="bkash" >
									<span>Bkash</span>
								</label>
							</div>
							<div class="options">
								<label for="nagad">
										<img src="/images/icons/nagad.png" alt="nagad">
									<input type="radio" id="nagad" name="billing_method" value="nagad" >
									<span>Nagad</span>
								</label>
							</div>
							<div class="options">
								<label for="city_bank">
										<img src="/images/icons/city_bank.png" alt="city_bank">
									<input type="radio" id="city_bank" name="billing_method" value="city_bank" >
									<span>City Bank</span>
								</label>
							</div>
							<div class="options">
								<label for="pubali_bank">
										<img src="/images/icons/pubali_bank.png" alt="pubali_bank">
									<input type="radio" id="pubali_bank" name="billing_method" value="pubali_bank" >
									<span>Pubali Bank</span>
								</label>
							</div>
							<div class="options">
								<label for="dbbl">
										<img src="/images/icons/dbbl.png" alt="dbbl">
									<input type="radio" id="dbbl" name="billing_method" value="dbbl" >
									<span>Dutch Bangla Bank Ltd</span>
								</label>
							</div>
							<div class="options">
								<label for="standard_chartered_bank">
										<img src="/images/icons/standard_chartered_bank.png" alt="standard_chartered_bank">
									<input type="radio" id="standard_chartered_bank" name="billing_method" value="standard_chartered_bank" >
									<span>Standard Chartered Bank</span>
								</label>
							</div>
						</div>

						<p class="note">*Cash on delivery is not applicable for GiftCard orders.</p>

						<div class="payment-option">
							<ul id="pay">
							</ul>
						</div>
					</div>

					<div class="form-group">
						<label for="transaction_id">Transaction Id: </label>
						<input
							type="text"
							name="transaction_id"
							spellcheck="false"
							placeholder="Transaction ID: "
							id="transaction_id"
							value=""
						/>
					</div>
					<div class="form-group">
						<label for="receipt_picture">Receipt Picture: </label>
						<input
							type="file"
							name="receipt_picture"
							id="receipt_picture"
							accept="image/*"
						/>
					</div>
					<div class="form-group">
						<label for="four_digit">Sender last 4 digit: </label>
						<input
							type="number"
							name="four_digit"
							spellcheck="false"
							placeholder="Sender Last Fout Digit: "
							id="four_digit"
							value=""
						/>
					</div>
					<div class="form-group">
						<label for="payment_amount">Payment Amount: </label>
						<input
							type="number"
							name="payment_amount"
							spellcheck="false"
							placeholder="Payment Amount: "
							id="payment_amount"
							required
						/>
					</div>

					<div class="delivery-method">
						<label>Delivery Method</label>
						<div class="delivery-option">Home Delivery</div>
					</div>
				</div>
			</div>

			<!-- Right Column -->
			<div class="right-container">
				<h3 class="left-h3">YOUR ORDER</h3>
				<div class="order-summary">
					<ul>
						<div class="cart-wrapper">
							<% cartItems.forEach(item => { %>
							<div class="cart-card">
								<div class="delete-btn-wrapper">
									<button
										type="button"
										class="delete-btn"
										data-id="<%= item._id %>"
									>
										<img
											src="https://img.icons8.com/fluency/50/cancel.png"
											alt="Delete"
										/>
									</button>
								</div>
								<div class="thumbnail-image">
									<img
										src="<%= (item.productId.image && item.productId.image.length > 0 && item.productId.image[0]) ? item.productId.image[0] : '/images/placeholder.webp' %>"
										alt="<%= item.productId.name %>"
									/>
								</div>
								<div class="card-info">
									<div class="name"><%= item.productId.name %></div>
									<div class="price">
										Price: <%= item.productId.price.toLocaleString() %> BDT
									</div>
									<div class="quantity">
										Quantity: <%= item.selected_quantity %>
									</div>
								</div>
								<div class="total">
									<p><%= item.total_price.toLocaleString() %> BDT</p>
								</div>
							</div>
							<% }); %>
						</div>
						<li id="subtotal-div">
							<strong>Subtotal:</strong>
							<%= grand_total.toLocaleString() %> BDT
						</li>
						<li>
							<strong>Points Possible:</strong>
							<%= point_possible.toLocaleString() %> points
						</li>
						<li>
							<strong>Points Available:</strong>
							<%= user.points.toLocaleString() %> points
						</li>
						<li id="grandTotal-div">
							<strong>Grand Total:</strong>
							<strong name="grand_total"><%= grand_total.toLocaleString() %> BDT</strong>
						</li>
						<li>
							<input type="checkbox" name="use_Points" value="yes">
							<div class="use_points">USE <%= user.points.toLocaleString() %> POINTS</div>
						</li>
					</ul>
				</div>
				<button type="submit" class="confirm-order-btn">Confirm Order</button>
			</div>
		</div>
	</div>
</form>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Update the grand total when the checkbox is checked/unchecked
		const usePointsCheckbox = document.querySelector('input[name="use_Points"]');
		const grandTotalElement = document.getElementById("grandTotal-div");
		usePointsCheckbox.addEventListener("change", function () {
			if (this.checked) {
				grandTotalElement.innerHTML =
					"<strong>Grand Total:</strong><strong><%= total_after_discount.toLocaleString() %> BDT</strong>";
			} else {
				grandTotalElement.innerHTML =
					"<strong>Grand Total:</strong><strong><%= grand_total.toLocaleString() %> BDT</strong>";
			}
		});
		// cart delete
		const deleteButtons = document.querySelectorAll(".delete-btn");
		deleteButtons.forEach((button) => {
			button.addEventListener("click", async () => {
				const itemId = button.getAttribute("data-id");
				try {
					const response = await fetch(`/cart/${itemId}`, {
						method: "DELETE",
						headers: { "Content-Type": "application/json" },
					});
					if (!response.ok) throw new Error("Failed to delete item.");
					window.location.reload();
				} catch (error) {
					console.error("Error:", error);
				}
			});
		});
	});

	document.querySelectorAll(`input[name="payment_method"]`).forEach((radio) => {
		radio.addEventListener('change', () => {
			document.querySelectorAll(`input[name="payment_method"]`).forEach((input) => {
				input.closest('.options').classList.remove('selected');
			});
			radio.closest('.options').classList.add('selected');
		});
	});
	
	document.querySelectorAll(`input[name="billing_method"]`).forEach((radio) => {
		radio.addEventListener('change', () => {
			document.querySelectorAll(`input[name="billing_method"]`).forEach((input) => {
				input.closest('.options').classList.remove('selected');
			});
			radio.closest('.options').classList.add('selected');
			let ul = document.getElementById("pay");
			ul.style.border = "1px solid rgb(255, 166, 0)";
			let value = radio.closest('input').value;
			if(value === "bkash"){
				ul.innerHTML = `<li>
									bKash Send Money to 
									01715506304 or 01571169254
								</li>`
			} else if(value === "nagad"){
				ul.innerHTML = `<li>
									Send money to Nagad: 
									01715506304
								</li>`
			} else if(value === "city_bank"){
				ul.innerHTML = `<li>
									The City Bank Current A/C: 
									Account Number: 1453074816001
									Account Name: TIS DIF E CARD 
									Branch Name: Karwan Bazar Branch
								</li>`
			} else if(value === "pubali_bank"){
				ul.innerHTML = `<li>
									Pubali Bank PLC
									Account Name: TIS DIF E CARD
									Account Number: 2438901052620
									Branch Name: Naya Paltan
								</li>`
			} else if(value === "dbbl"){
				ul.innerHTML = `<li>
									DBBL Current Account: 1261100044893
									Account Name: TisDif e-Card
									Branch Name: Elephant Road
								</li>`
			} else if(value === "standard_chartered_bank"){
				ul.innerHTML = `<li>
									Bank Transfer to:
									Standard Chartered Bank
									Account Number: 18958912201
									Account Name: BADRUL ALAM
									Branch Name: Gulshan
									SWIFT CODE: SCBLBDDX
									Routing Number: 215261726
								</li>`
			}
		});
	});

</script>
<%- include('./partials/footer.ejs') %>
