<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/style.css" />
<div class="container" id="container">
	<% if (slides.length > 0) { %>
	<!-- homepage slides -->
	<div class="sections slider-wrapper">
		<div class="slider">
			<% for ( let i = 0; i < slides.length; i++) { %>
			<img
				src="<%= slides[i] %>"
				class="image-slide"
				id="slide-<%=i%>"
				alt="image"
			/>
			<% } %>
		</div>
	</div>
	<div class="slider-nav">
		<% for ( let i = 0; i < slides.length; i++) { %>
		<span class="dot" id="dot-<%=i%>"></span>
		<% } %>
	</div>
	<% } %>
	<!-- Quick Links -->
	<div class="QLContainer">
		<h2>Quick Links</h2>
		<p>fast forward to your desired destinition</p>
		<div class="catWrapper">
			<div class="cats">
				<a href="/search?searchQuery=">
					<div class="inner-cats">
						<img src="https://img.icons8.com/carbon-copy/100/product.png" alt="product"/>
						<p>All Products</p>
					</div>
				</a>
			</div>
			<div class="cats">
				<a href="/trackOrder">
					<div class="inner-cats">
						<img src="https://img.icons8.com/carbon-copy/100/track-order.png" alt="track-order"/>
						<p>Track Orders</p>
					</div>
				</a>
			</div>
			<div class="cats">
				<a href="/search?searchQuery=iphones">
					<div class="inner-cats">
						<img src="https://img.icons8.com/dotty/100/iphone14-pro.png" alt="iphone"/>
						<p>iPhones</p>
					</div>
				</a>
			</div>
			<div class="cats">
				<a href="/search?searchQuery=giftcards">
					<div class="inner-cats">
						<img src="https://img.icons8.com/dotty/100/gift-card.png" alt="gift-card"/>
						<p>GiftCards</p>
					</div>
				</a>
			</div>
			<div class="cats">
				<a href="/search?searchQuery=accessories">
					<div class="inner-cats">
						<img src="https://img.icons8.com/external-flaticons-lineal-flat-icons/100/external-charger-devices-flaticons-lineal-flat-icons-2.png" alt="Accessories"/>
						<p>Accessories</p>
					</div>
				</a>
			</div>
			<div class="cats">
				<a href="search?searchQuery=&offers=true">
					<div class="inner-cats">
						<img src="https://img.icons8.com/carbon-copy/100/discount.png" alt="Offers"/>
						<p>Offers</p>
					</div>
				</a>
			</div>			
		</div>
	</div>

	<!-- Products Sections -->
	<% const categories = ["iphones", "giftcards", "accessories"]; %>
	
	<% categories.forEach((category) => { const categoryProducts =
	products.filter(product => product.category === category); if
	(categoryProducts.length > 0) { %>
	<div class="sections" id="<%= category %>">
		<div class="product-text">
			<h2>
				Browse <%= category.charAt(0).toUpperCase() + category.slice(1) %>
			</h2>
			<p>
				<a href="/search?searchQuery=<%= category %>">VIEW ALL</a>
			</p>
		</div>
		<div class="product-container">
			<% categoryProducts.forEach(product => { %>
			<%- include('partials/product-card', { product }) %> <% }) %>
		</div>
	</div>
	<% } }) %>
</div>
<script src="/scripts/index.js" defer></script>
<%- include('./partials/footer.ejs') %>
