<%- include('./partials/headers/header.ejs') %>
<link rel="stylesheet" href="/css/style.css" />
    <div class="container" id="container">
        <div class="sections">
            <!-- Slide ups -->
            <div class="typewrapper">
                <div class="slideup">
                    <h2>DISCOVER</h2>
                    <ol>
                        <li><span>GIFT CARDS</span></li>
                        <li><span>IPHONES</span></li>
                        <li><span>ACCESSORIES</span></li>
                        <li><span>AND MANY MORE</span></li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- Products Sections -->
        <% const categories = ["iphones", "giftcards", "accessories"]; %>
        <% categories.forEach(category => { 
            const categoryProducts = products.filter(product => product.category === category);
            if (categoryProducts.length > 0) { %>
                <div class="sections" id="<%= category %>">
                    <div class="product-text">
                        <h2>Browse <%= category.charAt(0).toUpperCase() + category.slice(1) %></h2>
                    </div>
                    <div class="product-container slide-in">
                        <% categoryProducts.forEach(product => { %>
                            <%- include('partials/homepage/product-card', { product }) %>
                        <% }) %>
                    </div>
                </div>
        <% } }) %>
    </div>

<!-- Include footer partial -->
<%- include('./partials/footer/footer.ejs') %>

<!-- Move the Finisher Header script here -->
<script src="/scripts/index.js" defer></script>
</body>
</html>
