<%- include('./partials/headers/header.ejs') %>
<link rel="stylesheet" href="/css/style.css" />

    <div class="slides">
        <img src="ui/16.webp" class="slide" id="slideOne" />
        <img src="ui/15.webp" class="slide" id="slideTwo" />
        <img src="ui/apple_giftcard.webp" class="slide" id="slideThree" />
    </div>

    <!-- Product Cards -->
    <% const categories = ["iphones", "giftcards", "accessories"]; %>
    <% categories.forEach(category => { 
        const categoryProducts = products.filter(product => product.category === category);
        if (categoryProducts.length > 0) { %>
    
            <section class="categories" id="<%= category %>">
                <div class="heading">
                    <h2>Browse <%= category.charAt(0).toUpperCase() + category.slice(1) %></h2>
                </div>
    
                <div class="categories-container">
                    <% categoryProducts.forEach(product => { %>
                        <%- include('partials/homepage/product-card', { product }) %>
                    <% }) %>
                </div>
            </section>
    
        <% } 
    }) %>

    <%- include('./partials/footer/footer.ejs') %>
    <script src="/scripts/index.js" defer></script>
</body>
</html>
