<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/style.css" />
<div class="container" id="container">
	<% if (slides.length > 0) { %>
	<!-- homepage slides -->
	<div class="sections slider-wrapper">
		<div class="slider">
			<% for ( let i = 0; i < slides.length; i++) { %>
			<img
				src="<%= slides[i] %>"
				class="image-slide"
				id="slide-<%=i%>"
				alt="image"
			/>
			<% } %>
		</div>
	</div>
	<div class="slider-nav">
		<% for ( let i = 0; i < slides.length; i++) { %>
		<span class="dot" id="dot-<%=i%>"></span>
		<% } %>
	</div>
	<% } %>
	<!-- Quick Links -->
	<div class="QLContainer">
		<p>fast forward to your desired destinition</p>
		<div class="catWrapper">
			<div class="cats">
				<a href="/search?searchQuery=">
					<div class="inner-cats">
						<img src="/images/icons/product.png" alt="product" />
						<p>All Products</p>
					</div>
				</a>
			</div>
			<div class="cats">
				<a href="/trackOrder">
					<div class="inner-cats">
						<img src="/images/icons/track_order.png" alt="track-order" />
						<p>Track Orders</p>
					</div>
				</a>
			</div>
			<div class="cats">
				<a href="/search?searchQuery=iphones">
					<div class="inner-cats">
						<img src="/images/icons/iphone.png" alt="iphone" />
						<p>iPhones</p>
					</div>
				</a>
			</div>
			<div class="cats">
				<a href="/search?searchQuery=giftcards">
					<div class="inner-cats">
						<img src="/images/icons/gift_card.png" alt="gift-card" />
						<p>GiftCards</p>
					</div>
				</a>
			</div>
			<div class="cats">
				<a href="/search?searchQuery=accessories">
					<div class="inner-cats">
						<img src="/images/icons/external_charger.png" alt="Accessories" />
						<p>Accessories</p>
					</div>
				</a>
			</div>
			<div class="cats">
				<a href="search?searchQuery=&offers=true">
					<div class="inner-cats">
						<img src="/images/icons/discount.png" alt="Offers" />
						<p>Offers</p>
					</div>
				</a>
			</div>
		</div>
	</div>

	<!-- Products Sections -->
	<% const categories = ["iphones", "giftcards", "accessories"]; %> <%
	categories.forEach((category) => { const categoryProducts =
	products.filter(product => product.category === category); if
	(categoryProducts.length > 0) { %>
	<div class="sections" id="<%= category %>">
		<div class="product-text">
			<h2>
				Browse <%= category.charAt(0).toUpperCase() + category.slice(1) %>
			</h2>
			<p>
				<a href="/search?searchQuery=<%= category %>">VIEW ALL</a>
			</p>
		</div>
		<div class="product-container">
			<% categoryProducts.forEach(product => { %> <%-
			include('partials/product-card', { product }) %> <% }) %>
		</div>
	</div>
	<% } }) %>
</div>
<script src="/scripts/index.js" defer></script>
<%- include('./partials/footer.ejs') %>
