<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= page_title %></title>
<!-- metas -->
<meta property="og:title" content="<%= product.name %>" />
<meta property="og:description" content="<%= product.description.slice(0, 150) %>" />
<meta property="og:image" content="https://tisdifecard.com/<%= product.image[0] %>" />
<meta property="og:url" content="https://tisdifecard.com/product/<%= product.slug %>" />
<meta property="og:type" content="product" />
<script type="application/ld+json">
	{
	  "@context": "https://schema.org/",
	  "@type": "Product",
	  "name": "<%= product.name %>",
	  "image": [
		"https://tisdifecard.com/<%= product.image[0] %>"
	  ],
	  "description": "<%= product.description.slice(0, 150) %>",
	  "sku": "<%= product.slug %>",
	  "offers": {
		"@type": "Offer",
		"url": "https://tisdifecard.com/product/<%= product.slug %>",
		"priceCurrency": "BDT",
		"price": "<%= product.price %>",
		"availability": "<%= product.stock > 0 ? 'https://schema.org/InStock' : 'https://schema.org/OutOfStock' %>"
	  }
	}
</script>
<link rel="icon" type="image/x-icon" href="/images/icons/favicon.ico" />
<link rel="stylesheet" href="/css/header.css" />
</head>
<body>
	<!-- Nav Bar -->
	<header id="Header">
		<!-- Left -->
		<a href="/" class="logo">
			<img
				src="/images/icons/tisdif_logo.webp"
				alt="logo"
			/>
			<P>TISDIF-E-CARD</P>
		</a>

		<!-- Center -->
		<nav class="navbar" id="navbar">
			<li><a href="/search?searchQuery=iphones">iPhones</a></li>
			<li><a href="/search?searchQuery=giftcards">GiftCards</a></li>
			<li><a href="/search?searchQuery=accessories">Accessories</a></li>
			<li><a href="/search?searchQuery=&offers=true">Offers</a></li>
			<li><a href="/trackOrder">Track Orders</a></li>
			<li><a href="/account">My Order</a></li>
			<li><a id="scroll_to_contact">Contact Us</a></li>
		</nav>

		<!-- Right -->
		<div class="account-container">
			<!-- Search button -->
			<button class="searchBtn">
				<img
					src="/images/icons/search.png"
					alt="Search"
				/>
			</button>
			<!-- Cart icon -->
			<a href="/cart" class="cart-icon">
				<img
					src="/images/icons/shopping_cart.png"
					alt="shopping-cart"
				/>
				<% if (cartItems.length > 0) { %>
				<span class="cart-badge"><%= cartItems.length %></span>
				<% } else { %>
				<span class="cart-badge">0</span>
				<% } %>
			</a>

			<!-- Profile Icon -->
			<div
				class="profile-container"
				onmouseover="toggleMenu(true)"
				onmouseleave="toggleMenu(false)"
				id="profileLink"
			>
				<a href="/account" class="profile-icon" id="profile">
					<img
						src="/images/icons/guest_male.png"
						alt="Account"
					/>
				</a>
				<!-- User Profile Dropdown -->
				<div class="menu-dropdown" id="menuDropdown">
					<% if (loggedInUser && Object.keys(loggedInUser).length > 0) { %>
					<div id="user-info">
						<p>Username: <%= loggedInUser.username %></p>
						<p>Email: <%= loggedInUser.email %></p>
						<a href="/account">My Account</a>
						<% if (loggedInUser.role == "admin") { %>
						<a href="/admin/products">Manage Products</a>
						<a href="/admin/users">Manage Users</a>
						<a href="/admin/orders">Manage Orders</a>
						<% } %>
					</div>
					<button id="logout-button" onclick="logout()">Logout</button>
					<% } else { %>
					<button id="login-button" onclick="window.location.href='/login'">
						Login
					</button>
					<% } %>
				</div>
			</div>
		</div>

		<!-- Hamburger Menu -->
		<div id="search-div">
			<!-- Search bar -->
			<button class="searchBtn">
				<img
					src="/images/icons/search.png"
					alt="Search"
				/>
			</button>

			<div class="hamburger" id="hamburger" aria-label="Menu">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
		</div>
	</header>
	<% if(errors.common) { %>
	<div class="common-error-div">
		<div class="common-error-msg"><%= errors.common.msg %></div>
	</div>
	<% } %>
	<!-- Search bar -->
	<div class="searchBar" id="searchBar">
		<div class="global_search">
			<form action="/search" method="GET">
				<input
					name="searchQuery"
					type="text"
					spellcheck="false"
					placeholder="Search Products"
					required
				/>
			</form>
			<div class="global_search_ql">
				<h2>Quick Links</h2>
				<ol>
					<li>
						<a href="/search?searchQuery=giftcards"
							><img
								src="/images/icons/arrow.png"
								alt="arrow"
							/>
							GiftCards</a
						>
					</li>
					<li>
						<a href="/search?searchQuery=accessories"
							><img
								src="/images/icons/arrow.png"
								alt="arrow"
							/>
							Accessories</a
						>
					</li>
					<li>
						<a href="/search?searchQuery=iphones"
							><img
								src="/images/icons/arrow.png"
								alt="arrow"
							/>
							iPhones</a
						>
					</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- Mobile Container (only visible on mobile) -->
	<div class="mobile-container">
		<!-- Home icon -->
		<a href="/" class="mobile-home-icon">
			<img
				src="/images/icons/home.png"
				alt="home"
			/>
		</a>

		<!-- Cart icon -->
		<a href="/cart" class="mobile-cart-icon">
			<img
				src="/images/icons/shopping_cart.png"
				alt="shopping-cart"
			/>
			<% if (cartItems.length > 0) { %>
			<span class="mobile-cart-badge"><%= cartItems.length %></span>
			<% } else { %>
			<span class="mobile-cart-badge">0</span>
			<% } %>
		</a>

		<!-- Profile Icon -->
		<div class="mobile-profile-container">
			<a href="/account" class="mobile-profile-icon">
				<img
					src="/images/icons/guest_male.png"
					alt="Account"
				/>
			</a>
		</div>
	</div>
	<script src="/scripts/header.js" defer></script>
<!-- head end -->
<link rel="stylesheet" href="/css/productDetails.css" />
<div class="breadcrumb">
	<ul>
		<li>
			<a href="/"
				><img src="https://img.icons8.com/material/24/home--v5.png" alt="home"
			/></a>
		</li>
		<li>
			<a href="/search?searchQuery=<%= product.category %>"
				><%= product.category.charAt(0).toUpperCase() +
				product.category.slice(1) %></a
			>
		</li>
		<li><a href="/product/<%= product.slug %>"><%= product.name %></a></li>
	</ul>
</div>
<main class="product-details">
	<div class="product-main sections">
		<div class="product-images">
			<img
				id="main-image"
				src="<%= (Array.isArray(product.image) && product.image.length > 0 && product.image[0]) ? product.image[0] : '/images/placeholder.webp' %>"
				alt="Product Image"
			/>
			<div class="thumbnail-image-div">
				<% product.image.forEach((image)=>{ %>
				<img
					class="thumbnail-images"
					onclick="updateMainImage(this)"
					src="<%= image %>"
					alt="Product Thumbnail Image"
				/>
				<% }) %>
			</div>
		</div>
		<div class="product-div">
			<div class="product-info" data-price="<%= product.price %>">
				<h2 id="product-name"><%= product.name %></h2>
				<div id="configs">
					<p class="product-price-container">
						Price: <% if( Number(product.stock) > 0 ) { %> <% if
						(product.saveTag > 0) { %>
						<span class="old-product-price"
							><%= (product.price + (product.price * (product.saveTag /
							100))).toFixed(2) %>৳</span
						>
						<span class="new-price"> <%= product.price %>৳ </span>
						<span class="discount-label"><%= product.saveTag %>% OFF</span>
						<% } else { %>
						<span class="new-price"><%= product.price %>৳</span>
						<% } %> <% } else { %>
						<span class="new-price"> <%= product.price %>৳ </span>
						<% } %>
					</p>
					<p class="stock">
						Status: <% if (product.stock > 0){ %>
						<span class="in-stock">In Stock</span>
						<% } else { %>
						<span class="out-of-stock">Out Of Stock</span>
						<% } %>
					</p>
					<p class="point-p">
						Possible Points:
						<span class="points-possible"
							><%= ((product.pointsPossible)*100) %>%</span
						>
					</p>
					<% if((product.warranty).length > 0){ %>
						<p class="warranty">
							Warranty :
								<%= product.warranty %>
						</p>
					<% } %>
					<% if((product.varient).length > 0){ %>
						<p class="warranty">
							Varient :
								<b><%= product.varient.toUpperCase() %></b>
						</p>
					<% } %>
					<% if (product.category == 'giftcards') { %> <% if
					(product.varient == "usd"){ %> <%-
					include('./partials/giftcardVarients/usd.ejs') %> <% } else if
					(product.varient == "inr") { %> <%-
					include('./partials/giftcardVarients/inr.ejs') %> <% } else if
					(product.varient == "aud") { %> <%-
					include('./partials/giftcardVarients/aud.ejs') %> <% } %> <% } else {
					%>
					<div class="quantity-selector">
						<button class="qty-btn decrease">-</button>
						<span class="quantity-value">1</span>
						<button class="qty-btn increase">+</button>
					</div>
					<% } %>
					<p id="selected-price">
						Total Amount: <span id="total-price">0.00</span> BDT
					</p>
				</div>
			</div>
			<div class="actions">
				<% if (product.stock > 0) { %>
				<button class="add-to-cart" data-id="<%= product._id %>">
					Add to Cart
				</button>
				<button class="buy-now" data-id="<%= product._id %>">
					Buy Now
				</button>
				<% } else { %>
				<button class="empty-stock">Add to Cart</button>
				<button class="empty-stock">Buy Now</button>
				<% } %>
			</div>
		</div>
	</div>
	<% if(product.description.length){ %>
		<div class="product-description">
			<h2>Description</h2>
			<h3><%= product.name %></h3><p><%= product.description %></p>
		</div>
	<% } %>
	<% const RelatedProducts = relatedProducts.filter(Product => Product.category
	=== product.category); if(RelatedProducts.length > 0) { %>
	<section class="sections">
		<div class="product-text">
			<h2>Browse Similar Products</h2>
		</div>
		<div class="product-container">
			<% relatedProducts.forEach(product => { %> <%-
			include('partials/product-card', { product }) %> <% }) %>
		</div>
	</section>
	<% } %>
</main>
<script src="/scripts/addToCart.js" defer></script>
<script src="/scripts/product-details.js" defer></script>
<%- include('./partials/footer.ejs') %>
</body>
</html>